footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 60px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  font-size: 14px;
}
